<!--<h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul> -->

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} <!--해킹 방지-->
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"> <!--사용자가 무언가를 입력할 수 있도록 화면에 보여주는 테그  input-->
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br> <!--이름을 보여주는 label테그-->
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    </form>